@model PIM_WEB_MARTE.Models.AdminModel

@{
    Layout = "~/Views/Shared/_LayoutDeslogado.cshtml";
    ViewData["Title"] = "Admin";
}

<footer style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; background-color: #000000;">
    <div class="about-text mb-4 text-center">
        <h2>
            <img src="~/Imagens/Logo1.png" alt="Logo do site" style="width: 300px;" />
        </h2>
    </div>

    <section class="login-section-adm" style="width: 100%; max-width: 500px; padding: 30px; border: 1px solid #ddd; background-color: #000000; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <h2 class="login-title-adm text-center mb-4" style="font-size: 2rem; color: #ffffff;">Login de Administrador</h2>

        @using (Html.BeginForm("Entrar", "Admin", FormMethod.Post))
        {
            // Mensagens de erro gerais, se houver
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group-adm mb-3">
                <label for="Login" class="label-adm" style="font-size: 1.2rem; font-weight: bold; color: #ffffff;">Usuário</label>
                @Html.TextBoxFor(m => m.Login, new { @id = "Login", @class = "form-control form-control-lg", placeholder = "Digite seu nome de usuário", required = "required", style = "padding: 15px; font-size: 1.2rem;" })
                @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
            </div>

            <div class="form-group-adm mb-3">
                <label for="Senha" class="label-adm" style="font-size: 1.2rem; font-weight: bold; color: #ffffff;">Senha</label>
                @Html.PasswordFor(m => m.Senha, new { @id = "Senha", @class = "form-control form-control-lg", placeholder = "Digite sua senha", required = "required", style = "padding: 15px; font-size: 1.2rem;" })
                @Html.ValidationMessageFor(x => x.Senha, "", new { @class = "text-danger" })
            </div>

            <div class="form-group-adm">
                <button type="submit" id="button-adm" class="btn btn-primary btn-lg w-100" style="font-size: 1.2rem; padding: 15px;">Entrar</button>
            </div>
            <br>
            <p class="btn-lg w-100" style="font-size: 1.2rem; padding: 5px; width: 100%">
                @Html.ActionLink("Voltar a Tela Inicial", "Index", "Home", null, new { @class = "btn btn-primary" })
            </p>
        }
    </section>
</footer>
